<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
		package="org.chad.jeejah.callquota"
		android:versionCode="26"
		android:versionName="0.4.0">
	<application 
			android:name=".CallQuotaApplication"
			android:icon="@drawable/icon"
			android:label="@string/app_name"
			android:description="@string/app_description"
			android:debuggable="true"
			android:persistent="true">

		<activity android:name=".SeeStats"
				android:label="@string/activity_name">
			<intent-filter>
				<action android:name="android.intent.action.MAIN" />
				<category android:name="android.intent.category.LAUNCHER" />
			</intent-filter>
		</activity>

		<activity android:name=".FreeContacts"  
				 android:label="@string/app_name">  
			 <intent-filter>
				<action android:name="android.intent.action.VIEW" />
				<category android:name="android.intent.category.DEFAULT" />
			 	<data android:mimeType="vnd.org.chad.jeejah.callquota/vnd.chad.freecontact" />
			 </intent-filter>
		</activity>  
		<activity android:name=".ShowCostly" android:label="@string/app_name"/>  
		<activity android:name=".Pref" android:label="@string/app_name"/>  
		<activity android:name=".Help" android:label="@string/app_name"/>  
		<activity android:name=".Audit" android:label="@string/app_name"/>  
		<activity android:name=".Overview" android:label="@string/app_name"/>  
		<service android:name=".LogMonitorService"/>

		<receiver android:name=".StartService" android:label="@string/app_name">
			<intent-filter>
				<action android:name="android.intent.action.BOOT_COMPLETED" />
				<category android:name="android.intent.category.HOME" />
			</intent-filter>
		</receiver> 

	</application>
	<uses-permission android:name="android.permission.READ_CONTACTS" />
	<uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
	<uses-permission android:name="android.permission.CALL_PHONE" />
	<meta-data android:name="org.openintents.updatechecker.UPDATE_URL" android:value="http://web.chad.org/projects/jeejah/callquota/versions" />

</manifest> 
